nz-layout {
  min-height: 100vh;
}

nz-header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  ul {
    border-bottom: 0;
    background: inherit;
    height: 32px;
    line-height: 32px;

    a {
      color: white;
    }
  }
}

nz-content {
  margin: 1rem;
}
